.DS_Store
MANIFEST
__pycache__
.coverage
.tox/
*.egg-info
*.pot
*.py[co]

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
.cache
.config
.dbus
.lmstudio
.local
.ms_cronjob-volume/**/*
!.ms_cronjob-volume/**/
!.ms_cronjob-volume/**/.gitkeep
.npm
.nv
.pki
.lmstudio-home-pointer
dist
log/*
!log/.gitkeep
mcp_server/src/tool/*
!mcp_server/src/tool/controller/
mcp_server/src/tool/controller/*
!mcp_server/src/tool/controller/.gitkeep
!mcp_server/src/tool/controller/Math/
!mcp_server/src/tool/model/
mcp_server/src/tool/model/*
!mcp_server/src/tool/model/.gitkeep
!mcp_server/src/tool/model/Math.ts
!mcp_server/src/tool/.gitkeep
!mcp_server/src/tool/git.sh
node_modules
package-lock.json
