version = 1

[embeddinggemma-300M-BF16]
threads = 2
ctx-size = 8192
temp = 0
top-k = 20
top-p = 0.95
min-p = 0
repeat-penalty = 1
presence-penalty = 0
repeat-last-n = 0
frequency-penalty = 0
n-predict = 4096
batch-size = 1024
ubatch-size = 512
parallel = 1
kv-offload = true
kv-unified = true
mlock = false
mmap = true
seed = -1
cache-type-k = q8_0
cache-type-v = q8_0
n-gpu-layers = 0
flash-attn = on
reasoning = off
jinja = on
model = ${pathEngineModel}unsloth/embeddinggemma-300M-GGUF/embeddinggemma-300M-BF16.gguf
embedding = true
pooling = last

[Qwen3.5-0.8B-BF16]
threads = 2
ctx-size = 8192
temp = 0
top-k = 20
top-p = 0.95
min-p = 0
repeat-penalty = 1
presence-penalty = 0
repeat-last-n = 0
frequency-penalty = 0
n-predict = 4096
batch-size = 512
ubatch-size = 256
parallel = 1
kv-offload = true
kv-unified = true
mlock = false
mmap = true
seed = -1
cache-type-k = q8_0
cache-type-v = q8_0
n-gpu-layers = 0
flash-attn = on
reasoning = off
jinja = on
model = ${pathEngineModel}unsloth/Qwen3.5-0.8B-GGUF/Qwen3.5-0.8B-BF16.gguf
mmproj = ${pathEngineModel}unsloth/Qwen3.5-0.8B-GGUF/mmproj-BF16.gguf
image-max-tokens = 2048
