version = 1

[embeddinggemma-300M-Q4_0]
ctx-size = 8192
temp = 1.0
top-k = 64
top-p = 0.95
min-p = 0.0
presence-penalty = 0.0
frequency-penalty = 0.0
repeat-penalty = 1.05
repeat-last-n = 64
n-predict = -1
batch-size = 1024
ubatch-size = 1024
parallel = 1
kv-offload = true
kv-unified = true
mlock = false
mmap = true
seed = -1
cache-type-k = q8_0
cache-type-v = q8_0
n-gpu-layers = 0
flash-attn = on
reasoning = off
jinja = on
model = ${pathEngineModel}unsloth/embeddinggemma-300M-GGUF/Q4_0.gguf
cache-ram = 0
embedding = true
pooling = mean

[Qwen3.5-2B-Q4_0]
ctx-size = 8192
temp = 0.7
top-k = 20
top-p = 0.8
min-p = 0.0
presence-penalty = 1.5
frequency-penalty = 0.0
repeat-penalty = 1.0
repeat-last-n = 64
n-predict = -1
batch-size = 1024
ubatch-size = 1024
parallel = 1
kv-offload = true
kv-unified = true
mlock = false
mmap = true
seed = -1
cache-type-k = q8_0
cache-type-v = q8_0
n-gpu-layers = 0
flash-attn = on
reasoning = off
jinja = on
model = ${pathEngineModel}unsloth/Qwen3.5-2B-GGUF/Q4_0.gguf
cache-ram = 0
mmproj = ${pathEngineModel}unsloth/Qwen3.5-2B-GGUF/mmproj-F16.gguf
image-min-tokens = 1024
image-max-tokens = 1024
